.message-list {
  height: 100%;
  overflow-y: auto;
  padding: 8px;
  position: relative;
  background-color: #1a1a1a;
}

.message-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 6px;
}

.message-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 6px;
}

.message-row.self {
  justify-content: flex-end;
}

.message-row .message-content {
  max-width: 75%;
  font-size: 1rem;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.4;
  border-radius: 8px;
  padding: 6px 10px;
}

.message-row .message-content.bg-related {
  background-color: #004477;
}

.message-row .message-content span {
  font-weight: normal;
}

.message-row .message-content .tag {
  font-size: 0.7rem;
  margin-right: 4px;
}

.message-row .message-content .tag.private {
  color: #b84a4a;
}

.message-row .message-content .tag.publicTarget {
  color: #ffd36a;
}

.message-row .message-content .username {
  font-weight: bold;
  cursor: pointer;
}

.message-row .message-content .username.system {
  cursor: default;
}

.message-row .message-content .timestamp {
  font-size: 0.7rem;
  color: #888;
  margin-left: 6px;
  white-space: nowrap;
}

.typing {
  font-size: 0.9rem;
  color: #aaa;
  margin-top: 4px;
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ⭐ 新訊息提示 */
.new-message-alert {
  position: sticky;
  bottom: 10px;
  margin: auto;
  background: #ffcc00;
  color: #000;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  width: fit-content;
  font-size: 13px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}
